<ng4-loading-spinner> </ng4-loading-spinner>
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 summoner-form">
      <form class="form-inline" (ngSubmit)="getSummoner()">
        <input class="form-control" type="text" placeholder="Summoner Account" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        <button type="submit" name="button" class="btn btn-primary">Get Summoner Details</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 summoner-detail" *ngIf="summoner">
      <h2>Summoner</h2>
      <div><img src="{{summoner.profileImage}}" alt=""></div>
      <div><span class="label">Summoner Name: </span> {{summoner.name}}</div>
      <div><span class="label">Summoner Level: </span> {{summoner.summonerLevel}}</div>
      <div><button class="btn btn-primary" name="button" (click)="getMatches()">Get Latest Matches</button></div>
    </div>
  </div>
  <div class="row">
    <div class="latest-matches" *ngIf="matches">
      <h2>Latest Matches</h2>
      <div class="card match-details" *ngFor="let match of matches">
        <h4>{{match.outcome}} - {{match.duration}} - {{match.kills}}/{{match.deaths}}/{{match.assists}} (k/d/a)</h4>
        <div class="row">
          <div class="col-md-8">
            <div><span class="label">Champion: </span>{{match.champion.name}}</div>
            <div><span class="label">Level: </span>{{match.champLevel}}</div>
            <div><span class="label">Total Creep Score: </span>{{match.creepScore}}</div>
            <div><span class="label">Creep Score/Min: </span>{{match.cspm | number : '1.2-2'}}</div>
            <div><span class="label">Lane: </span>{{match.lane}}</div>
            <div><span class="label">Role: </span>{{match.role}}</div>
            <div *ngIf="match.spells && match.spells.length"><span class="label">Spells: </span>
              <span *ngFor="let spell of match.spells;let last=last">{{spell}}<span *ngIf="!last">; </span></span>
            </div>
            <div *ngIf="match.items && match.items.length"><span class="label">Items: </span>
              <span *ngFor="let item of match.items;let last=last">{{item}}<span *ngIf="!last">; </span></span>
            </div>
            <div *ngIf="match.runes && match.runes.length"><span class="label">Runes: </span>
              <ul>
                <li *ngFor="let rune of match.runes">{{rune.name}} - Rank: {{rune.rank}}
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="float-right">
              <img src="{{match.champion.icon}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
