.summoner-form {
  text-align: center;

  .form-inline {
    display: inline-block;
  }
}

 .summoner-detail {
   text-align: center;
 }

 .label {
   font-weight: bold;
 }

.match-details {
  padding: 10px 20px;

  h4 {
    text-align: center;
  }
}

.champion {
  text-align: center;
}

.spells {
  margin-top: 10px;
  text-align: center;
}

.items {
  text-align: center;
}
.single-item {
  width: 64px;
}
